@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');


:root {
	--open-sans: 'Open Sans', sans-serif;
	--oswald: 'Oswald', sans-serif;
	/*--blue: #0097FC;*/
	--blue: #0097FC;
	--light-blue: #7AC1FE;
	--dark-blue: #008CEA;
	--grey: #828282;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Nunito', sans-serif;
}

/*body {
	background: #eee;
}*/
a {
	text-decoration: none;
}

li {
	list-style: none;
}

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 16px;
	height: 100%;
}




nav {
	background: #fff;
	height: 70px;
	display: flex;
	justify-content: space-between;
}

nav .toggle-navbar {
	cursor: pointer;
	position: relative;
	z-index: 200;
	transition: all .3s ease;
	display: none;
}

nav>.container {
	display: flex;
	align-items: center;
}

nav .brand {
	margin-right: auto;
	font-size: 24px;
	font-weight: 700;
	font-family: var(--oswald);
	color: #000;
	text-transform: uppercase;
}

nav .nav-menu {
	display: flex;
	grid-gap: 36px;
}

nav .nav-menu>li {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}

nav .nav-menu>li>a {
	color: #000;
	transition: all .3s ease;
}

nav .nav-menu>li:hover>a {
	color: var(--blue);
}

nav .nav-menu>li>a .bx {
	transition: all .3s ease;
}

nav .nav-menu>li:hover>a .bx {
	transform: rotate(180deg);
}

nav .nav-menu>li .dropdown-menu {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	background: #fff;
	overflow-y: hidden;
	max-height: 0;
	transition: all .3s ease;
}

.nav-menu li a {
	font-size: 18px;
	font-family: 'Nunito', sans-serif;

}

.active {
	border-bottom: 5px solid var(--blue);
	transition: all translate .2s;
}


@media screen and (max-width: 576px) {
	nav .nav-menu {
		position: fixed;
		top: 0;
		left: 100%;
		width: 100%;
		height: 100%;
		background: #fff;
		z-index: 100;
		flex-direction: column;
		align-items: flex-start;
		grid-gap: 0;
		padding-left: 24px;
		padding-top: 60px;
		transition: all .3s ease;
	}

	nav .nav-menu.show {
		left: 0;
	}


	nav .nav-menu>li>a .bx {
		transform: rotate(-90deg);
	}

	nav .nav-menu>li:hover>a .bx {
		transform: rotate(-90deg);
	}


	nav .toggle-navbar {
		display: block;
		transition-delay: .3s;
	}

	nav .toggle-navbar.hide {
		opacity: 0;
		pointer-events: none;
		transition-delay: 0s;
	}
}



/* home content style */
/* project style*/
.beginer,
.intermediate,
.advanced {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 50px;
	margin-bottom: 80px;
}

.card {
	max-width: 350px;
	height: 460px;
	background-color: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	border: 1px solid transparent;
	border-radius: 20px;
}

.card a {
	text-decoration: none
}

.contenta {
	padding: 1.1rem;
}

.image {
	object-fit: cover;
	width: 100%;
	height: 240px;

	border-radius: 20px;
	padding: 5px;
}

.image img {
	border-radius: 20px;
}

.title {
	color: #111827;
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: 600;
}

.desc {
	margin-top: 0.5rem;
	color: #6B7280;
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.action {
	display: inline-flex;
	margin-top: 1rem;
	color: #ffffff;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 500;
	align-items: center;
	gap: 0.25rem;
	background-color: #2563EB;
	padding: 4px 8px;
	border-radius: 4px;
}

.action span {
	transition: .3s ease;
}

.action:hover span {
	transform: translateX(4px);
}




/* blog style */
.content,
.articles {
	background: #fff;
}





a {
	text-decoration: none;
	color: #000;
	transition: all 0.3s ease;
}




.content {
	background-color: #f8f8fa;
	padding: 100px 80px 0;

}

.content .separator {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	row-gap: 20px;
	margin-bottom: 30px;
}

.content .separator a,
.content .articles .item .bottom a {
	display: flex;
	align-items: center;
	gap: 2px;
	color: #2d6a4f;
	font-size: 14px;
}

.content .separator a i,
.content .articles .item .bottom a i {
	font-size: 18px;
}


.content .articles .item .top,
.content .articles .item .bottom {
	display: flex;
	gap: 10px;
	background-color: #fff;
	padding: 14px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 18px;
	border-bottom: 1px solid #888;
}


.content .articles .item .bottom {
	border-bottom: none;
	justify-content: space-between;
	border-top: 1px solid #888;
}

.content .articles .item .bottom h5 {
	font-weight: 500;
	background-color: whitesmoke;
	color: darkblue;
	padding: 10px;
	border-radius: 12px;
	font-size: 13px;
}

.content .articles .item .bottom h5 span {
	font-weight: bold;
}

.content .articles {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
	flex-wrap: wrap;
	row-gap: 20px;
}

.content .articles .item {
	width: 23%;
}

.content .articles .item .top {
	flex-direction: column;
}

.content .articles .item .top img {
	width: 100%;
	height: 180px;
	object-fit: cover;
	border-radius: 10px;
	margin-bottom: 8px;
}




@media screen and (max-width:1200px) {



	.content {
		padding: 100px 60px 0;
	}


	.content .articles .item .bottom {
		flex-direction: column;
	}


}

@media screen and (max-width: 940px) {

	.content .articles .item {
		width: 45%;
	}

	.content .podcasts .item .bottom {
		flex-direction: column;
	}


	.content .articles .item .top img {
		height: 220px;
	}


}

@media screen and (max-width:768px) {


	.content {
		padding: 100px 30px 0;
	}

	.content .articles .item .top img {
		height: 160px;
	}


}

@media screen and (max-width:576px) {


	footer {
		padding: 60px 30px 30px;
	}

}


/* style du button get started*/

.btn-get {
	width: 120px;
	height: 40px;
	border-radius: 20px;
	background: #fff;
}

.btn-get:hover {
	background: #4361ee;
	border: 2px solid #fff;
	color: #fff;
	cursor: pointer;
	transition: all .5s;
}


/* footer style */

.footer {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	min-height: 100vh;
}

.footer {
	position: relative;
	width: 100%;
	min-height: 100px;
	padding: 20px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.social-icon,
.menu {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
	list-style: none;
}

.social-icon__link {
	font-size: 4rem;
	color: #0A2647;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
}

.social-icon__link:hover {
	transform: translateY(-10px);
}

.menu__link {
	font-size: 1.2rem;
	color: #000000;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
	text-decoration: none;
	opacity: 0.75;
	font-weight: 300;
}

.menu__link:hover {
	opacity: 1;
}

.footer p {
	color: #000000;
	margin: 15px 0 10px 0;
	font-size: 1rem;
	font-weight: 300;
}

.wave {
	position: absolute;
	top: -100px;
	left: 0;
	width: 100%;
	height: 100px;
}



